@{
    ViewBag.Title = "Promociones";
}

<section>
    <h2>Promociones</h2>

    <div id="tabs">
        <ul>
            <li><a href="#tabs-1">Playa</a></li>
            <li><a href="#tabs-2">Tours</a></li>
            <li><a href="#tabs-3">Restaurantes</a></li>
        </ul>
        <div id="tabs-1">
            <div class="promoContainer">
                <ul>
                    <li>
                        <a href="#">
                            <span>Playa</span>
                            <img alt="Playa" src="~/Content/themes/base/images/promo_playa.jpg">
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <span>Playa</span>
                            <img alt="Playa" src="~/Content/themes/base/images/promo_playa.jpg">
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <span>Playa</span>
                            <img alt="Playa" src="~/Content/themes/base/images/promo_playa.jpg">
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <span>Playa</span>
                            <img alt="Playa" src="~/Content/themes/base/images/promo_playa.jpg">
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <span>Playa</span>
                            <img alt="Playa" src="~/Content/themes/base/images/promo_playa.jpg">
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <span>Playa</span>
                            <img alt="Playa" src="~/Content/themes/base/images/promo_playa.jpg">
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <span>Playa</span>
                            <img alt="Playa" src="~/Content/themes/base/images/promo_playa.jpg">
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <span>Playa</span>
                            <img alt="Playa" src="~/Content/themes/base/images/promo_playa.jpg">
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <span>Playa</span>
                            <img alt="Playa" src="~/Content/themes/base/images/promo_playa.jpg">
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <span>Playa</span>
                            <img alt="Playa" src="~/Content/themes/base/images/promo_playa.jpg">
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <span>Playa</span>
                            <img alt="Playa" src="~/Content/themes/base/images/promo_playa.jpg">
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <span>Playa</span>
                            <img alt="Playa" src="~/Content/themes/base/images/promo_playa.jpg">
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <span>Playa</span>
                            <img alt="Playa" src="~/Content/themes/base/images/promo_playa.jpg">
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <span>Playa</span>
                            <img alt="Playa" src="~/Content/themes/base/images/promo_playa.jpg">
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <span>Playa</span>
                            <img alt="Playa" src="~/Content/themes/base/images/promo_playa.jpg">
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <span>Playa</span>
                            <img alt="Playa" src="~/Content/themes/base/images/promo_playa.jpg">
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <span>Playa</span>
                            <img alt="Playa" src="~/Content/themes/base/images/promo_playa.jpg">
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <span>Playa</span>
                            <img alt="Playa" src="~/Content/themes/base/images/promo_playa.jpg">
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div id="tabs-2">
            <div class="promoContainer">
                <ul>
                    <li>
                        <a href="#">
                            <span>Tour</span>
                            <img alt="Tour" src="~/Content/themes/base/images/promo_Tour.jpg">
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <span>Tour</span>
                            <img alt="Tour" src="~/Content/themes/base/images/promo_Tour.jpg">
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <span>Tour</span>
                            <img alt="Tour" src="~/Content/themes/base/images/promo_Tour.jpg">
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <span>Tour</span>
                            <img alt="Tour" src="~/Content/themes/base/images/promo_Tour.jpg">
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <span>Tour</span>
                            <img alt="Tour" src="~/Content/themes/base/images/promo_Tour.jpg">
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <span>Tour</span>
                            <img alt="Tour" src="~/Content/themes/base/images/promo_Tour.jpg">
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <span>Tour</span>
                            <img alt="Tour" src="~/Content/themes/base/images/promo_Tour.jpg">
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <span>Tour</span>
                            <img alt="Tour" src="~/Content/themes/base/images/promo_Tour.jpg">
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <span>Tour</span>
                            <img alt="Tour" src="~/Content/themes/base/images/promo_Tour.jpg">
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <span>Tour</span>
                            <img alt="Tour" src="~/Content/themes/base/images/promo_Tour.jpg">
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <span>Tour</span>
                            <img alt="Tour" src="~/Content/themes/base/images/promo_Tour.jpg">
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <span>Tour</span>
                            <img alt="Tour" src="~/Content/themes/base/images/promo_Tour.jpg">
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div id="tabs-3">
            <div class="promoContainer">
                <ul>
                    <li>
                        <a href="#">
                            <span>Restaurante</span>
                            <img alt="Restaurante" src="~/Content/themes/base/images/promo_Restaurante.jpg">
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <span>Restaurante</span>
                            <img alt="Restaurante" src="~/Content/themes/base/images/promo_Restaurante.jpg">
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <span>Restaurante</span>
                            <img alt="Restaurante" src="~/Content/themes/base/images/promo_Restaurante.jpg">
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <span>Restaurante</span>
                            <img alt="Restaurante" src="~/Content/themes/base/images/promo_Restaurante.jpg">
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <span>Restaurante</span>
                            <img alt="Restaurante" src="~/Content/themes/base/images/promo_Restaurante.jpg">
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <span>Restaurante</span>
                            <img alt="Restaurante" src="~/Content/themes/base/images/promo_Restaurante.jpg">
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <span>Restaurante</span>
                            <img alt="Restaurante" src="~/Content/themes/base/images/promo_Restaurante.jpg">
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <span>Restaurante</span>
                            <img alt="Restaurante" src="~/Content/themes/base/images/promo_Restaurante.jpg">
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <span>Restaurante</span>
                            <img alt="Restaurante" src="~/Content/themes/base/images/promo_Restaurante.jpg">
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <span>Restaurante</span>
                            <img alt="Restaurante" src="~/Content/themes/base/images/promo_Restaurante.jpg">
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <span>Restaurante</span>
                            <img alt="Restaurante" src="~/Content/themes/base/images/promo_Restaurante.jpg">
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <span>Restaurante</span>
                            <img alt="Restaurante" src="~/Content/themes/base/images/promo_Restaurante.jpg">
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <span>Restaurante</span>
                            <img alt="Restaurante" src="~/Content/themes/base/images/promo_Restaurante.jpg">
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <span>Restaurante</span>
                            <img alt="Restaurante" src="~/Content/themes/base/images/promo_Restaurante.jpg">
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <span>Restaurante</span>
                            <img alt="Restaurante" src="~/Content/themes/base/images/promo_Restaurante.jpg">
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <span>Restaurante</span>
                            <img alt="Restaurante" src="~/Content/themes/base/images/promo_Restaurante.jpg">
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <span>Restaurante</span>
                            <img alt="Restaurante" src="~/Content/themes/base/images/promo_Restaurante.jpg">
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <span>Restaurante</span>
                            <img alt="Restaurante" src="~/Content/themes/base/images/promo_Restaurante.jpg">
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>

@section scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            $('#tabs').tabs();
        });
    </script>
}