@{
    ViewBag.Title = "Estado de cuenta";
}

<h2>Estado de cuenta</h2>

@section scripts{
    <script type="text/javascript">
        $(document).ready(function() {
            SetCurrentTab('tabAccountStatus');
        });        
    </script>
}